body {
  margin: 0;
  background-color: #2b2e4a;
  font-family: "Exo 2", sans-serif;
}

.login {
  height: 100vh;
  border: solid 3px #903749;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  height: 80vh;
  width: 500px;
  padding: 25px;
  border: solid 3px #903749;
  border-radius: 25px;
}

.login__container h2 {
  color: #e84545;
}

.login__container--form {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container--form .input {
  height: 40px;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 20px;
  border: solid 3px #903749;
  padding-left: 10px;
  outline: none;
}

.login__container--form .button {
  height: 60px;
  width: 45%;
  margin: 20px 0 30px 0;
  border-radius: 20px;
  outline: none;
  background-color: #e84545;
  border: solid #e43f5a;
  font-family: "Exo 2", sans-serif;
}

.login__container--remember-me {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login__container--remember-me label,
a {
  color: whitesmoke;
  font-size: 18px;
}

.login__container--social-media {
  color: whitesmoke;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.login__container--social-media img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.login__container--register {
  color: whitesmoke;
  font-size: 18px;
  margin-bottom: 100px;
  text-align: center;
}

.login__container--profile-image {
  display: flex;
  justify-content: center;
}
